<ion-tabs [color]="globals.colorDefault">
  <ion-tab [root]="tab1Root" tabTitle="Heróis" tabIcon="flash"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Cadastrar" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Categorias" tabIcon="list"></ion-tab>
</ion-tabs>