page-home {

    .no-list {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .no-list ion-icon {
        font-size: 9vw;
     }
    .no-list p {
       font-weight: bold;
    }
    .offline {
        position: relative;
        top: 10px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #EEE;
        border-radius: 5px;
        border: 1px #CCC solid;
        margin-bottom: 5px;
    }
    .offline ion-icon {
        position: relative;
        left: 10px;
        top: 2px;
        font-size: 9vw;
     }
    .txt_offline {
       position: absolute;
       left: 50px;
       top: 3px;
       font-size: 3.5vw;
       font-weight: bold;
    }
    .list-heroes {
        position: relative;
        width: 100%;
        top: 10px;
        min-height: 70px;
        background-color: #EEE;
        border-radius: 5px;
        border: 1px #CCC solid;
        margin-bottom: 5px;
    }
    .list-heroes-offline {
        position: relative;
        width: 100%;
        top: 10px;
        min-height: 70px;
        background-color: rgb(182, 181, 181);
        border-radius: 5px;
        border: 1px #CCC solid;
        margin-bottom: 5px;
    }
    .hero-name {
        padding-left: 5px;
        padding-top: 3px;
        font-weight: bold;
        font-size: 5vw;
        width: 70%;
        color: color($colors, dark);
    }
    .hero-cat {
        padding-left: 5px;
        padding-top: 1px;
        font-weight: bold;
        font-size: 4vw;
        color: color($colors, primary);
    }
    .hero-active {
        padding-left: 5px;
        padding-top: 1px;
        font-weight: bold;
        font-size: 4vw;
        color: color($colors, secondary);
    }
    .hero-inactive {
        padding-left: 5px;
        padding-top: 1px;
        font-weight: bold;
        font-size: 4vw;
        color: color($colors, danger);
    }
    .hero-delete {
        position: absolute;
        top: 3px;
        right: 5px;
        font-size: 8vw;
    }

}
