<ion-header>
  <ion-navbar [color]="globals.colorDefault">
    <ion-title>appHeroes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Deslize para atualizar"
        refreshingSpinner="spinner"
        refreshingText="Buscando heróis...">
      </ion-refresher-content>
  </ion-refresher>
  <h2>Principais heróis</h2>
  <p>
    Clique no nome do herói desejado para realizar alteração, 
    ou clique em <ion-icon color="danger" name="trash"></ion-icon> para removê-lo da lista:
  </p>
  <div *ngIf="globals.itemOnDemand == true" class="offline">
      <ion-icon color="danger" name="alert"></ion-icon>
      <div class="txt_offline">{{ globals.lbl_item_demand }} offline.<br>
        Aguardando rede para upload!</div>
  </div>
  <div *ngIf="globals.uploadEnded == true && globals.hero_items.length == 0" class="no-list">
      <ion-icon color="secondary" name="checkmark-circle"></ion-icon>
      <p>Upload finalizado.<br>
        Deslize para atualizar a tela!</p>
  </div>
  <div *ngIf="no_items == true && globals.networkDown == false" class="no-list">
      <ion-icon color="primary" name="sad"></ion-icon>
      <p>Não foi possível exibir os heróis.<br>
        Deslize para atualizar a tela!</p>
  </div>
  <div class="list-heroes-offline" *ngFor="let hero of globals.hero_items">
    <div (click)="updateHero(hero)" class="hero-name">Herói: {{ hero.Name }}</div>
    <div class="hero-cat">Categoria: {{ categoryList[hero.CategoryId] }}</div>
    <div *ngIf="hero.Active == true" class="hero-active">Status: Ativo</div>
    <div *ngIf="hero.Active != true" class="hero-inactive">Status: Inativo</div>
    <ion-icon class="hero-delete" color="danger" (click)="removeOffline(hero.Id)" name="trash"></ion-icon>
  </div>
  <div class="list-heroes" *ngFor="let hero of heroesList">
    <div (click)="updateHero(hero)" class="hero-name">Herói: {{ hero.Name }}</div>
    <div class="hero-cat">Categoria: {{ categoryList[hero.CategoryId] }}</div>
    <div *ngIf="hero.Active == true" class="hero-active">Status: Ativo</div>
    <div *ngIf="hero.Active != true" class="hero-inactive">Status: Inativo</div>
    <ion-icon class="hero-delete" color="danger" (click)="removeHero(hero.Id)" name="trash"></ion-icon>
  </div>
</ion-content>