page-categories {
    .no-list {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .no-list ion-icon {
        font-size: 9vw;
     }
    .no-list p {
       font-weight: bold;
    }
    .list-categories {
        position: relative;
        width: 100%;
        min-height: 30px;
        background-color: #EEE;
        border-radius: 5px;
        border: 1px #CCC solid;
        margin-bottom: 5px;
    }
    .cat-name {
        padding-left: 5px;
        padding-top: 3px;
        font-weight: bold;
        font-size: 5vw;
        color: color($colors, dark);
    }
}
