<ion-header>
  <ion-navbar [color]="globals.colorDefault">
    <ion-title>
      appHeroes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Deslize para atualizar"
          refreshingSpinner="spinner"
          refreshingText="Buscando categorias...">
        </ion-refresher-content>
    </ion-refresher>
    <h2>Categorias dos Heróis</h2>
    <p>Exibe as principais qualidades de cada herói em seu App!</p>
    <div *ngIf="no_items == true" class="no-list">
        <ion-icon color="primary" name="sad"></ion-icon>
        <p>Nenhuma categoria encontrada!<br>
          Deslize a tela para recarregar!</p>
    </div>
    <div class="list-categories" *ngFor="let cat of listCategories">
      <div class="cat-name">{{ cat.Name }}</div>
    </div>
</ion-content>