<ion-header>
  <ion-navbar [color]="globals.colorDefault">
    <ion-title>
      appHeroes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Dados do Herói</h2>
    <p>Informe o nome do herói, sua categoria e o seu status atual:</p>
    <form [formGroup]="form" (submit)="signUp()">
        <ion-list radio-group no-lines>
            <ion-item>
                <ion-label *ngIf="form.controls.Name.valid || (!form.controls.Name.dirty && !submitAttempt)" color="dark" stacked>Nome do Herói:</ion-label>
                <ion-label *ngIf="!form.controls.Name.valid && (form.controls.Name.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o nome do Herói!</strong></ion-label>
                <ion-input maxlength="20" formControlName="Name" placeholder="Ex: Wolverine"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label *ngIf="form.controls.CategoryId.valid || (!form.controls.CategoryId.dirty && !submitAttempt)" color="dark" stacked>Categoria:</ion-label>
                <ion-label *ngIf="!form.controls.CategoryId.valid && (form.controls.CategoryId.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Selecione a categoria do Herói!</strong></ion-label>
                <ion-select okText="OK" cancelText="Cancelar" placeholder="Ex: Mutante, Eterno, Psiquico" formControlName="CategoryId">
                    <ion-option *ngFor="let cat of listCategories" [value]="cat.Id">{{ cat.Name }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label *ngIf="form.controls.Active.valid || (!form.controls.Active.dirty && !submitAttempt)" color="dark" stacked>Ativo:</ion-label>
                <ion-label *ngIf="!form.controls.Active.valid && (form.controls.Active.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o status do Herói!</strong></ion-label>
                <ion-select okText="OK" cancelText="Cancelar" placeholder="Ex: Ativo ou Inativo" formControlName="Active">
                    <ion-option value="true">Ativo</ion-option>
                    <ion-option value="false">Inativo</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>       
        <button ion-button block icon-start type="submit" color="secondary">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            SALVAR
        </button>
     </form>
</ion-content>